@font-face {
  font-family: Montserrat-light;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

/* Helpers */
.Color-lightgrey {
  color: #b0b0b0 !important;
}

.Weight-light {
  font-family: Montserrat-light;
}

.Weight-bold {
  font-family: Montserrat-bold;
}

/* Generics */
* {
  font-family: Montserrat;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

table tr > td,
table tr > th {
  padding: 16px;
  font-size: 16px;
}

table tr > th {
  font-weight: bold;
}

.Heading {
  font-family: Montserrat-bold;
  font-size: 56px;
}

/* Navigation */
.navbar-default {
  background-color: black;
  border: none;
}

.Logo {
  border: 2px solid transparent;
  border-radius: 50%;
  height: 42px;
  margin-top: -10px;
  padding: 4px;
  width: 42px;
  transition: border 0.3s;
}

.navbar-brand:hover .Logo {
  border-color: #0ada7c;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
  padding: 46px;
  background-color: transparent;
  color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: white;
}

.navbar-default .navbar-nav > li > a > span {
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: border 0.3s;
}

.navbar-default .navbar-nav > li > a:focus > span,
.navbar-default .navbar-nav > .active > a:focus > span,
.navbar-default .navbar-nav > .open > a:focus > span,
.navbar-default .navbar-nav > li > a:hover > span,
.navbar-default .navbar-nav > .active > a:hover > span,
.navbar-default .navbar-nav > .open > a:hover > span {
  border-bottom-color: #0ada7c;
}

/* COMPONENTS */

/* Aside */
aside {
  background-color: #141313;
  display: block;
  height: 100vh;
  position: fixed;
  right: -310px;
  top: 0;
  width: 342px;
  z-index: 1020;
  transition: right 0.3s;
}

aside.active {
  right: 0;
}

/* Match card */
.Match {
  position: relative;
  display: inline-block;
  border: 3px solid transparent;
  border-radius: 4px;
  margin: 4px auto;
}

.Match-content {
  background-color: #141313;
  border-radius: 4px;
  padding: 0 24px;
  padding-bottom: 8px;
}

.Match-header {
  display: block;
  height: 78px;
  padding: 24px 0;
  width: 100%;
}

.Match-division {
  background: rgba(10, 218, 124, 0.3);
  float: left;
  height: 40px;
  margin-top: -5px;
  width: 40px;
}

.Match-duration {
  float: right;
  font-family: Montserrat-bold;
  font-size: 24px;
}

.Match table {
  width: 100%;
}

.Match td {
  font-family: Montserrat-light;
  font-size: 16px;
  padding: 4px;
  text-align: right;
}

.Match td:nth-child(1) {
  text-align: left;
  padding-left: 0;
}

.Match-cta {
  visibility: hidden;
}

.Match-cta button {
  background: transparent;
  border: none;
  height: 42px;
  text-transform: uppercase;
  width: 100%;
}

.Match:hover {
  background-color: #0ada7c;
}

.Match:hover .Match-duration,
.Match:hover .Match-duration i {
  color: #0ada7c;
}

.Match:hover .Match-cta {
  visibility: visible;
}

/* Summary */
.SummaryTables {
  bottom: 0;
  display: inline-block;
  height: calc(100vh - 112px);
  left: 50%;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  width: 408px;
}

.SummaryTables-selector,
.SummaryTables-division {
  float: left;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.SummaryTables-selector {
  width: 72px;
}

.SummaryTables-divisionSelector {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  height: 72px;
  width: 72px;
}
.SummaryTables-divisionSelector.active {
  background-color: #0ada7c;
}

.SummaryTables-division {
  background-color: white;
  color: black;
  display: none;
  padding: 14px 10px;
  width: calc(100% - 72px);
}

.SummaryTables-division * {
  color: black;
  border: none;
  border-color: transparent;
}

.SummaryTables-division.active {
  display: inline-block;
}

.SummaryTables-division tr td:nth-child(1) .before,
.SummaryTables-division tr td:nth-child(1) .before {
  float: left;
  height: 22px;
  position: relative;
  text-align: left;
  width: 4px;
}

.SummaryTables-division tr:nth-child(2) td:nth-child(1) .before,
.SummaryTables-division tr:nth-child(3) td:nth-child(1) .before {
  background-color: lightgreen;
}

.SummaryTables-division tr:nth-last-child(2) td:nth-child(1) .before,
.SummaryTables-division tr:nth-last-child(1) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 2"] tr:nth-last-child(4) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 2"] tr:nth-last-child(3) td:nth-child(1) .before {
  background-color: lightcoral;
}

.SummaryTables-division[data-name="Division 1"] tr:nth-child(3) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3A"] tr:nth-last-child(2) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3A"] tr:nth-last-child(1) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3B"] tr:nth-last-child(2) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3B"] tr:nth-last-child(1) td:nth-child(1) .before {
  display: none;
}

/* Recents */
.Recents {
  padding-left: 0;
  text-align: center;
}

.Recents-toggler {
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 32px;
}

.Recents-toggler button {
  background-color: transparent;
  border: none;
  font-family: Montserrat-bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(50vh - 12px);
  left: calc(-50vh + 16px);
  transform: rotate(-90deg);
  width: 100vh;
}

.Recents-content {
  height: 100vh;
  float: right;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  width: calc(100% - 32px);
}

.Recents-match {
  width: 100%;
}

@media screen and (max-width: 1023px) {
  .SummaryTables {
    left: initial;
    bottom: initial;
    height: auto;
    position: relative;
    width: 100%;
  }

  .SummaryTables-division {
    overflow-x: auto;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-brand {
    padding: 46px 30px;
  }
}
