@font-face {
  font-family: Montserrat-light;
  src: url(../fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

/* OVERRIDES */
.modal-content {
  border-radius: 4px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-default {
  background-color: transparent;
  background-image: linear-gradient(to top, rgba(20, 20, 20, 0), #111111);
  border: none;
}

.popover {
  border-radius: 4px !important;
}

/* Helpers */
.Color-lightgrey {
  color: #b0b0b0 !important;
}

.Weight-light {
  font-family: Montserrat-light !important;
}

.Weight-bold {
  font-family: Montserrat-bold !important;
}

/* Generics */
* {
  font-family: Montserrat;
  box-sizing: border-box;
}

body {
  background: black;
  margin: 0;
  padding: 0;
}

#content.container {
  margin-top: 132px;
}

.Heading {
  color: white;
  font-family: Montserrat-bold;
  font-size: 56px;
}

/* Navigation */

.Logo {
  border: 2px solid transparent;
  border-radius: 50%;
  height: 42px;
  margin-top: -10px;
  padding: 4px;
  width: 42px;
  transition: border 0.3s;
}

.navbar-brand:hover .Logo {
  border-color: #0ada7c;
}

.navbar-default .navbar-nav > li > a {
  text-transform: uppercase;
  font-weight: 700;
  padding: 46px;
  background-color: transparent;
  color: white;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:active,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:active,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: white;
}

.navbar-default .navbar-nav > .tab-division > a > span {
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: border 0.3s;
}

.navbar-default .navbar-nav > .tab-division > a:focus > span,
.navbar-default .navbar-nav > .active > a:focus > span,
.navbar-default .navbar-nav > .open > a:focus > span,
.navbar-default .navbar-nav > .tab-division > a:hover > span,
.navbar-default .navbar-nav > .active > a:hover > span,
.navbar-default .navbar-nav > .open > a:hover > span {
  border-bottom-color: #0ada7c;
}

/* COMPONENTS */
/* Spacer */
.Spacer {
  position: relative;
  display: block;
  width: 100%;
  height: 1px;
  margin-bottom: 39px;
}

/* Table */
.Table {
  color: black;
  width: 100%;
}

.Table * {
  color: black;
  border: none;
  border-color: transparent;
}

.Table tr.active {
  background-color: #efefef;
}

.Table tr,
.Table tr > th,
.Table tr > td {
  height: 54px;
}

.Table tr > td,
.Table tr > th {
  font-size: 16px;
  padding: 16px;
  min-width: 64px;
  overflow: hidden;
  vertical-align: top;
}

.Table tr > th {
  font-family: Montserrat-bold;
}

.Table tr > td {
  font-family: Montserrat-light;
}

.Table.Table--noMinWidth tr > td,
.Table.Table--noMinWidth tr > th {
  min-width: 0;
}

.Table.Table--condensed tr,
.Table.Table--condensed tr > td,
.Table.Table--condensed tr > th {
  height: auto;
}

.Table.Table--condensed tr > td,
.Table.Table--condensed tr > th {
  font-size: 14px;
  padding: 4px 8px;
  min-width: 0;
}

.Table-rowActions {
  background-color: #0ada7c;
  display: none;
  height: 54px;
  padding: 0 !important;
  text-align: center;
}

.Table-rowActions * {
  background-color: transparent;
  border: none;
  color: white;
  display: none;
  font-family: Montserrat-bold;
  font-size: 16px;
  height: 100%;
}

.Table-rowActions button {
  display: inline-block;
}

.Table-rowActions button:first-child:nth-last-child(1),
.Table-rowActions button:first-child:nth-last-child(1) ~ button {
  width: 100%;
}

.Table-rowActions button:first-child:nth-last-child(2),
.Table-rowActions button:first-child:nth-last-child(2) ~ button {
  width: 48%;
}

.Table-rowActions button:first-child:nth-last-child(3),
.Table-rowActions button:first-child:nth-last-child(3) ~ button {
  width: 32%;
}

.Table.Table--withActions > tbody > tr:hover > td {
  display: none;
}

.Table.Table--withActions > tbody > tr:hover > td.Table-rowActions {
  display: table-cell;
}

.Table .Table-details {
  display: none;
}

.Table.Table--withDetails > tbody > tr.active > td {
  display: none;
}

.Table.Table--withDetails > tbody > tr.active > td.Table-details {
  display: table-cell;
}

.Table.Table--withActions.Table.Table--withDetails > tbody > tr.active:hover > td.Table-rowActions {
  display: none;
}

.Table-closeDetails {
  background-color: transparent;
  border: none;
  color: black;
  height: 24px;
  width: 24px;
}

/* Dropdown */
.Dropdown-toggle {
  padding: 16px;
}

.dropdown.open .Dropdown-toggle {
  background-color: white;
  color: black;
}

.navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  margin-top: -32px;
  margin-left: 45px;
  min-width: 0;
  width: calc(100% - 90px);
}

.dropdown-menu > li > a {
  font-family: Montserrat-bold;
  font-weight: 700;
  text-transform: uppercase;
}

.dropdown-menu > li > a:hover {
  background-color: #0ada7c;
  color: white;
}

/* Aside */
aside {
  background-color: #141313;
  display: block;
  height: 100vh;
  position: fixed;
  right: -310px;
  top: 0;
  width: 342px;
  z-index: 1020;
  transition: right 0.3s;
}

aside.active {
  right: 0;
}

/* Match card */
.Match {
  color: white;
  position: relative;
  display: inline-block;
  border: 3px solid transparent;
  border-radius: 4px;
  margin: 4px auto;
}

.Match-content {
  background-color: #141313;
  border-radius: 4px;
  padding: 8px 24px;
}

.Match-header {
  display: block;
  height: 78px;
  padding: 24px 0;
  padding-bottom: 16px;
  width: 100%;
}

.Match-division {
  background: rgba(10, 218, 124, 0.3);
  float: left;
  height: 40px;
  margin-top: -5px;
  width: 40px;
}

.Match-duration {
  float: right;
  font-family: Montserrat-bold;
  font-size: 24px;
}

.Match table {
  width: 100%;
}

.Match td {
  font-family: Montserrat-light;
  font-size: 16px;
  padding: 4px;
  text-align: right;
}

.Match td:nth-child(1) {
  text-align: left;
  padding-left: 0;
}

.Match-cta {
  visibility: hidden;
}

.Match-cta button {
  background: transparent;
  border: none;
  height: 42px;
  letter-spacing: 4px;
  font-family: Montserrat-bold;
  font-size: 16px;
  text-transform: uppercase;
  width: 100%;
}

.Match:hover {
  background-color: #0ada7c;
}

.Match:hover .Match-duration,
.Match:hover .Match-duration i {
  color: #0ada7c;
}

.Match:hover .Match-cta {
  visibility: visible;
}

/* Summary */
.SummaryTables {
  background-color: #efefef;
  bottom: 0;
  display: inline-block;
  max-height: calc(100vh - 112px);
  left: 48%;
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  max-width: 408px;
  min-width: 26%;
}

.SummaryTables-selector,
.SummaryTables-division {
  float: left;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.SummaryTables-selector {
  width: 72px;
}

.SummaryTables-divisionSelector {
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  height: 72px;
  width: 72px;
}
.SummaryTables-divisionSelector.active {
  background-color: #0ada7c;
}

.SummaryTables-division {
  background-color: white;
  display: none;
  width: calc(100% - 72px);
}

.SummaryTables-division.active {
  display: inline-block;
}

.SummaryTables-division tr td:nth-child(1) .before,
.SummaryTables-division tr td:nth-child(1) .before,
.Division-table tr td:nth-child(1) .before,
.Division-table tr td:nth-child(1) .before {
  float: left;
  height: 22px;
  position: relative;
  text-align: left;
  width: 4px;
}

.SummaryTables-division tr:nth-child(2) td:nth-child(1) .before,
.SummaryTables-division tr:nth-child(3) td:nth-child(1) .before,
.Division-table tr:nth-child(2) td:nth-child(1) .before,
.Division-table tr:nth-child(3) td:nth-child(1) .before {
  background-color: lightgreen;
}

.SummaryTables-division tr:nth-last-child(2) td:nth-child(1) .before,
.SummaryTables-division tr:nth-last-child(1) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 2"] tr:nth-last-child(4) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 2"] tr:nth-last-child(3) td:nth-child(1) .before,
.Division-table tr:nth-last-child(2) td:nth-child(1) .before,
.Division-table tr:nth-last-child(1) td:nth-child(1) .before {
  background-color: lightcoral;
}

.SummaryTables-division[data-name="Division 1"] tr:nth-child(3) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3"] tr:nth-last-child(2) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3"] tr:nth-last-child(1) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3A"] tr:nth-last-child(2) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3A"] tr:nth-last-child(1) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3B"] tr:nth-last-child(2) td:nth-child(1) .before,
.SummaryTables-division[data-name="Division 3B"] tr:nth-last-child(1) td:nth-child(1) .before {
  display: none;
}

/* Division */
.Division-tableWrapper {
  background-color: white;
  padding: 24px;
  overflow: hidden;
  overflow-x: auto;
}

/* Recents */
.Recents {
  padding-left: 0;
  text-align: center;
}

.Recents-toggler {
  color: white;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  position: absolute;
  width: 32px;
}

.Recents-toggler button {
  background-color: transparent;
  border: none;
  font-family: Montserrat-bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: calc(50vh - 12px);
  left: calc(-50vh + 16px);
  transform: rotate(-90deg);
  width: 100vh;
}

.Recents-content {
  height: 100vh;
  float: right;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  width: calc(100% - 32px);
}

.Recents-match {
  width: 100%;
}

/* Widget */
.Widget {
  margin-top: 120px;
  margin-bottom: 40px;
}

.Widget-title h2,
.Widget-title h2 span {
  font-family: Montserrat-bold;
  font-size: 56px;
  color: white;
}

.Widget-title h2 span:nth-child(1) {
  opacity: 0.15;
}

.Widget-title h2 span:nth-child(2) {
  opacity: 0.1;
}

.Widget-title h2 span:nth-child(3) {
  opacity: 0.05;
}

.Widget-match {
  display: none;
  width: 100%;
}

.Widget-match.active {
  display: block;
}

.Widget-slideDots,
.Widget-buttons {
  display: inline-block;
  min-height: 36px;
}

.Widget-slideDots {
  width: calc(100% - 80px);
}

.Widget-slideDot {
  background-color: #232323;
  border-radius: 50%;
  border: none;
  display: inline-block;
  height: 6px;
  margin: 0;
  padding: 0;
  margin-top: 12px;
  width: 6px;
  position: relative;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.Widget-slideDot.active {
  background-color: white;
}

.Widget-buttons {
  color: white;
  text-align: right;
  width: 76px;
}

.Widget-button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  font-size: 24px;
}

/* Ranking */
.Ranking ul {
  margin: 0;
  padding: 0;
}

.Ranking-element {
  border: 2px solid rgba(239, 239, 239, 0.15);
  border-radius: 4px;
  color: white;
  font-size: 16px;
  list-style: none;
  margin: 4px auto;
  padding: 12px;
  width: 100%;
  transition: border 0.3s;
}

.Ranking-element:hover {
  border-color: #0ada7c;
}

.Ranking-element .Ranking-logo {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin-right: 20px;
}

.Ranking-element .Ranking-counter {
  float: right;
  margin-top: 8px;
}

/* Only mobile (tablet vertical) */
@media screen and (max-width: 1023px) {
  .navbar {
    background-color: black;
    background-image: none;
  }

  .container > .navbar-header > .navbar-toggle {
    margin-right: 47px;
  }

  .SummaryTables {
    left: initial;
    bottom: initial;
    height: auto;
    max-height: none;
    position: relative;
    width: 100%;
  }

  .SummaryTables-division {
    overflow-x: auto;
  }

  .Division-tableWrapper {
    padding: 0;
  }
}

/* Only desktop (tablet horizontal) */
@media screen and (min-width: 1024px) {
  .navbar-brand {
    padding: 46px 30px;
  }
}
