.table-borderless thead tr th,
.table-borderless thead tr td,
.table-borderless tbody tr th,
.table-borderless tbody tr td {
  border: 0px;
}

.table-borderless thead tr.active th,
.table-borderless thead tr.active td,
.table-borderless tbody tr.active th,
.table-borderless tbody tr.active td {
  background-color: #e5e5e5;
}

.table-super-condensed thead tr th,
.table-super-condensed thead tr td,
.table-super-condensed tbody tr th,
.table-super-condensed tbody tr td {
  padding: 3px;
}

.popover{
  max-width: 100%;
}
